{% extends "base.html" %}
{% load url from future %}

{% block title %}{{ block.super }} | Activities Report{% endblock %}

{% block content %}
<div class="content_block">
<div class="content_head">
  <div id="report_header_left" >
    <ul>
      <li ><a class="linkbutton" href="{% url 'reporting_activity' %}">Activities Report</a></li>
</ul>
</div>
  <div id="report_header_right">
    <ul>
      <li ><a class="linkbutton" href="{% url 'reporting_tasks' %}">Tasks Report</a></li>
    </ul>
  </div>
  <h2>Activities Report</h2>
</div>
<table id="activity_report">
	<thead>
	<tr>
		<th><div>TEC ID</div></th>
		<th><div>Approved ID</div></th>
		<th><div>Event Type</div></th>
		<th><div>Event Title</div></th>
		<th><div>Reservation Description</div></th>
		<th><div>TEC Site</div></th>
		<th><div>Event Location</div></th>
		<th><div>Event Start Date</div></th>
		<th><div>Event End Date</div></th>
		<th><div>Event Organizer</div></th>
		<th><div>Date Entered</div></th>
		<th><div>Last Modified</div></th>
		<th><div>Event Size</div></th>
		<th><div>Sponsor Manager</div></th>
		<th><div>Class Manager</div></th>
		<th><div>Siebel Number</div></th>
		<th><div>Number of Attendees</div></th>
		<th><div>Room Required</div></th>
		<th><div>Laptops Required</div></th>
		<th><div>Status</div></th>
		<th><div>Assigned To</div></th>
		<th><div>Priority</div></th>
		<th><div>Escalation Status</div></th>
	</tr>
	</thead>
	<tbody>
	{% for activity in activity_list %}
	<tr class="{% cycle 'row_one' 'row_two' %}">
		<td><a href="{% url 'activity_detail' activity.tec_id %}"><span class="ui-icon ui-icon-search"></span>{{ activity.tec_id }}</a></td>
		<td>{{ activity.approved_id|default:'Not Approved' }}</td>
		<td>{{ activity.event_type }}</td>
		<td>{{ activity.short_desc }}</td>
		<td>{{ activity.reservation_desc }}</td>
		<td>{{ activity.tec_site }}</td>
		<td>{{ activity.event_location }}</td>
		<td>{{ activity.event_start_date }}</td>
		<td>{{ activity.event_end_date }}</td>
		<td>{{ activity.event_organizer }}</td>
		<td>{{ activity.date_entered }}</td>
		<td>{{ activity.date_last_mod|default:'Not Provided' }}</td>
		<td>{{ activity.event_size|default:'Not Provided' }}</td>
		<td>{{ activity.sponsor_mgr|default:'Not Provided' }}</td>
		<td>{{ activity.class_mgr|default:'Not Provided' }}</td>
		<td>{{ activity.siebel_num|default:'Not Provided' }}</td>
		<td>{{ activity.num_attendees }}</td>
		<td>{{ activity.get_room_required_display }}</td>
		<td>{{ activity.get_laptops_required_display }}</td>
		<td>{{ activity.get_status_display }}</td>
		<td>{{ activity.assignment.user.get_full_name }}</td>
		<td>{{ activity.assignment.get_priority_display }}</td>
		<td>{{ activity.assignment.escalation_status }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
<div class="clearfix"></div>
</div>
{% endblock %}

{% block scripts %}
<script type='text/javascript'>
    $(document).ready(function() {
        $('#activity_report').dataTable({
            "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "oLanguage": {
                "sSearch": "Search all columns:"
            },
            "sDom": 'CT<"clear">lfrtip',
            "oTableTools": {
                "sSwfPath": "{{ STATIC_PREFIX }}swf/copy_cvs_xls_pdf.swf"
            }
        });

        $('.ColVis_Button').button();

        $('.dataTables_filter').after($('<div id="table_wrapper"></div>'));
        $('#table_wrapper').append($('#activity_report'));
    });
</script>
{% endblock %}
