{% extends "base.html" %}
{% load url from future %}

{% block title %}{{ block.super }} | Tasks Report{% endblock %}

{% block content %}
<div class="content_block">
<div class="content_head">
  <div id="report_header">
    <ul>
      <li><a class="linkbutton" href="{% url 'reporting_activity' %}">Activities Report</a></li>
      <li><a class="linkbutton" href="{% url 'reporting_tasks' %}">Tasks Report</a></li>
    </ul>
  </div>
  <h2>Tasks Report</h2>
</div>
<table id="tasks_report">
    <thead>
    <tr>
        <th><div>Activity TEC ID</div></th>
        <th><div>Task Name</div></th>
        <th><div>Task Assigned To</div></th>
        <th><div>Task Status</div></th>
        <th><div>Acitivity Approved ID</div></th>
        <th><div>Acitivty Event Type</div></th>
        <th><div>Activity Event Title</div></th>
        <th><div>Activity Event Start Date</div></th>
        <th><div>Activity Event End Date</div></th>
        <th><div>Acitivity Siebel Number</div></th>
        <th><div>Acitivity Status</div></th>
        <th><div>Activity Assigned To</div></th>
        <th><div>Activity Priority</div></th>
    </tr>
    </thead>
    <tbody>
    {% for activity_task in activitytask_list %}
    <tr class="{% cycle 'row_one' 'row_two' %}">
        <td><a href="{% url 'activity_detail' activity_task.activity.tec_id %}"><span class="ui-icon ui-icon-search"></span>{{ activity_task.activity.tec_id }}</a></td>
        <td>{{ activity_task.task.name }}</td>
        <td>{{ activity_task.assigned_user.get_full_name }}</td>
        <td>{{ activity_task.status }}</td>
        <td>{{ activity_task.activity.approved_id|default:'Not Approved' }}</td>
        <td>{{ activity_task.activity.event_type }}</td>
        <td>{{ activity_task.activity.short_desc }}</td>
        <td>{{ activity_task.activity.event_start_date }}</td>
        <td>{{ activity_task.activity.event_end_date }}</td>
        <td>{{ activity_task.activity.siebel_num|default:'Not Provided' }}</td>
        <td>{{ activity_task.activity.get_status_display }}</td>
        <td>{{ activity_task.activity.assignment.user.get_full_name }}</td>
        <td>{{ activity_task.activity.assignment.get_priority_display }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}

{% block scripts %}
<script type='text/javascript'>
    $(document).ready(function() {
        $('#tasks_report').dataTable({
            "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "oLanguage": {
                "sSearch": "Search all columns:"
            },
            "sDom": 'CT<"clear">lfrtip',
            "oTableTools": {
                "sSwfPath": "{{ STATIC_PREFIX }}swf/copy_cvs_xls_pdf.swf"
            }
        });

        $('.ColVis_Button').button();

        $('.dataTables_filter').after($('<div id="table_wrapper"></div>'));
        $('#table_wrapper').append($('#tasks_report'));
    });
</script>
{% endblock %}
