{% extends "base.html" %}
{% load common_tags %}

{% block title %}{{ block.super }} | Activities{% endblock %}

{% block content %}

{% for message in messages %}
<div class="ui-state-highlight ui-corner-all"><p><span class="ui-icon ui-icon-info"></span>{{ message }}</p></div>
{% endfor %}

{% for error in errors %}
<div class="ui-state-error ui-corner-all"><p><span class="ui-icon ui-icon-alert"></span>{{ error }}</p></div>
{% endfor %}

<div id="activitydetail">
<div class="content_block">
<table>
<tbody>
<tr class="row_one">
<td class = "detail_left_label" width="200px">TEC ID: </td>
<td width="300px">{{ activity.tec_id }}</td>
</tr>

<tr class="row_two">
<td class = "detail_left_label">Approved ID:</td>
<td>{{ activity.approved_id|default:"Not Approved" }}</td>
</tr>

<tr class="row_one">
<td class = "detail_left_label">Event Type: </td>
<td>{{ activity.event_type }}</td>
</tr>

<tr class="row_two">
<td class = "detail_left_label">Event Title:</td>
<td>{{ activity.short_desc }}</td>
</tr>

<tr class="row_one">
<td class = "detail_left_label">Reservation Description:</td>
<td>{{ activity.reservation_desc }}</td>
</tr>

<tr class="row_two">
<td class = "detail_left_label">TEC Site: </td>
<td>{{ activity.tec_site }}</td>
</tr>

<tr class="row_one">
<td class = "detail_left_label">Event Location: </td>
<td>{{ activity.event_location }}</td>
</tr>

<tr class="row_two">
<td class = "detail_left_label">Event Start Date: </td>
<td>{{ activity.event_start_date }}</td>
</tr>

<tr class="row_one">
<td class = "detail_left_label">Event End Date:</td>
<td>{{ activity.event_end_date }}</td>
</tr>

<tr class="row_two">
<td class = "detail_left_label">Event Organizer:</td>
<td>{{ activity.event_organizer }}</td>
</tr>

<tr class="row_one">
<td class = "detail_left_label">Date Entered:</td>
<td>{{ activity.date_entered }}</td>
</tr>

<tr class="row_two">
<td class = "detail_left_label">Last Modified:</td>
<td>{{ activity.date_last_mod|default:"Not Provided" }}</td>
</tr>

<tr class="row_one">
<td class = "detail_left_label">Event Size:</td>
<td>{{ activity.event_size|default:"Not Provided" }}</td>
</tr>

<tr class="row_two">
<td class = "detail_left_label">Sponsor Manager:</td>
<td>{{ activity.sponsor_mgr|default:"Not Provided" }}</td>
</tr>

<tr class="row_one">
<td class = "detail_left_label">Class Manager: </td>
<td>{{ activity.class_mgr|default:"Not Provided" }}</td>
</tr>

<tr class="row_two">
<td class = "detail_left_label">Siebel Number:</td> 
<td>{{ activity.siebel_num|default:"Not Provided" }}</td>
</tr>

<tr class="row_one">
<td class = "detail_left_label">Number of Attendees:</td>
<td>{{ activity.num_attendees }}</td>
</tr>

<tr class="row_two">
<td class = "detail_left_label">Room Required:</td> 
<td>{{ activity.get_room_required_display }}</td>
</tr>

<tr class="row_one">
<td class = "detail_left_label">Laptops Required: </td>
<td>{{ activity.get_laptops_required_display }}</td>
</tr>

<tr class="row_two">
<td class = "detail_left_label">Status: </td>
<td>{{ activity.get_status_display }}</td>
</tr>
</tbody>
</table>
</div>
</div>

{% if activity.status == 'A' and perms.activities.can_approve_activity %}
{% if assignment.user == user or user|in_group:"manager" %}
<h2>Approve</h2>
<form method="post" action="{{ request.get_full_path }}">
{% csrf_token %}
<p><label for="approved_id">Approved ID: </label>
  <input type="text"
         id="approved_id"
         name="approved_id"/>
  <input type="submit"
         value="Approve"
         class="jsbutton"/></p>
</form>
{% endif %}
{% endif %}

<h2>Assignment</h2>
<form method="post" action="{{ request.get_full_path }}">
	{% csrf_token %}
	<table>
		<thead>
			<tr>
			<th>Assigned To</th>
			<th>Priority</th>
			<th>Escalation Status</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			{% if perms.activites.can_accept_activity %}
			<td>
				<select name="assignment.user">
					{% for user in users %}
					<option value="{{ user.id }}" {% if assignment.user == user %}selected{% endif %}>{{ user.get_full_name }}</option>
					{% endfor %}
				</select>
			</td>
			<td>
				<select name="assignment.priority">
					{% for value, name in priority_choices %}
					<option value="{{ value }}" {% if assignment.priority == value %}selected{% endif %}>{{ name }}</option>
					{% endfor %}
				</select>
			</td>
			<td><input type="text" name="assignment.escalation_status" value="{{ assignment.escalation_status|default:'' }}" /></td>
			<td><input type="submit" 
                                   value="{% if activity.status == 'N' %}Assign{% else %}Update{% endif %}"
                                   class="jsbutton" />
                        </td>
			{% else %}
			<td><span id="assignmentuser">{{ assignment.user.get_full_name }}</span></td>
			<td><span id="assignmentpriority">{{ assignment.get_priority_display }}</span></td>
			<td><span id="assignmentstatus">{{ assignment.escalation_status }}</span></td>
			{% endif %}
			</tr>
		</tbody>
	</table>
</form>

<h2>Notes</h2>
<form method="post" action="{{ request.get_full_path }}">
	{% csrf_token %}
	<table>
		<thead>
			<tr>
			<th>From</th>
			<th>Message</th>
			</tr>
		</thead>
		<tbody>
			{% for note in notes %}
			<tr>
			<td><span>{{ note.user.get_full_name }}</span></td>
			<td><p>{{ note.message }}</p></td>
			</tr>
			{% endfor %}
			{% if user.is_authenticated %}
			<tr>
			<td>{{ user.get_full_name }}</td>
			<td><textarea name="note.message" rows=5 cols=60></textarea></td>
			<td><input type="submit" value="Add Note" class="jsbutton"/></td>
			</tr>
			{% endif %}
			<tr>
			<td></td>
			</tr>
		</tbody>
	</table>
</form>

{% endblock %}
