{% extends "base.html" %}
{% load url from future %}

{% block title %}{{ block.super }} | Login{% endblock %}

{% block content %}

{% if form.errors %}
<div class="ui-state-error ui-corner-all">
	<p><span class="ui-icon ui-icon-alert"></span>Username and password didn't match. Please try again.</p>
</div>
<br />
{% endif %}

<div class="content_block" style="width:400px;">
<form method="post" action="{{ request.get_full_path }}" >
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
<tr>
  <td></td>
  <td><input type="submit" value="Login" role="button"
  class="jsbutton" id="login_button" /></td>
</tr>
</table>
{% url 'index' as index_url %}
<input type="hidden" name="next" value="{% firstof next index_url %}" />
</form>
</div>

{% endblock %}
