{% extends "base.html" %}

{% block title %}{{ block.super }} | Password Reset Confirmation{% endblock %}

{% block content %}

{% if validlink %}

{% if form.errors %}
<div class="ui-state-error ui-corner-all">
	<p><span class="ui-icon ui-icon-alert"></span><strong>Please correct these errors:</strong></p>
    <ul id="errorlist"'>
    {% for field in form %}
        {% for error in field.errors %}<li>{{ field.label }}: {{ error|escape }}</li>{% endfor %}
    {% endfor %}
    </ul>
</div>
{% endif %}

<h1>Enter new password</h1>

<p>Please enter your new password twice to verify you typed it in correctly.</p>

<form action="{{ request.get_full_path }}" method="post">
{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">New password:</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">Confirm password:</label>{{ form.new_password2 }}</p>
<p><input type="submit" value="Change my password" class="jsbutton"/></p>
</form>

{% else %}

<h1>Password reset unsuccessful</h1>

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}

{% endblock %}
