{% extends "base.html" %}

{% block title %}{{ block.super }} | Password Reset{% endblock %}

{% block content %}

{% if form.email.errors %}
<div class="ui-state-error ui-corner-all">
	<p><span class="ui-icon ui-icon-alert"></span><strong>Please correct these errors:</strong></p>
    <ul id="errorlist"'>
    {% for error in form.email.errors %}
        <li>{{ error|escape }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

<p>Enter your e-mail address below, and we'll e-mail a link to reset your password.</p><br/>

<form action="{{ request.get_full_path }}" method="post">
{% csrf_token %}
<p><label for="id_email">Email address:</label> {{ form.email }}
  <input type="submit" value="Reset password" role="button" class="jsbutton"/></p>
</form>

{% endblock %}
