{% extends "base.html" %}
{% load url from future %}

{% block title %}{{ block.super }} | Password Reset{% endblock %}

{% block content %}

<p>Enter your e-mail address below, and we'll e-mail a link to reset your password.</p><br/>

<form action="{% url 'django.contrib.auth.views.password_reset' %}" method="post">
{% csrf_token %}
{% if form.email.errors %}<div class="error"'>{{ form.email.errors }}</div>{% endif %}
<p><label for="id_email">Email address:</label> {{ form.email }} <input type="submit" value="Reset password" role="button"/></p>
</form>

{% endblock %}
